<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/style.css">

    

    <title>Document</title>
</head>
<body>
    <header class="contenedor">
        <div class="logo izquierda">
            <p><a href="#">Mi Primer Blog </a></p>
        </div>

        <div class="derecha">
            <form name="busqueda" class="buscar"  method="get">
            <input type="text" name="busqueda" placeholder="Buscar" id="">
            <button type="submit" class="icono fa fa-search"></button>
            </form>

            <nav class="menu">
                <ul>
                    <li><a class="active" href="#">Inicio<i class=""></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#">Contacto <i class="far fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>


    
</body>
</html>